@model boty_asp.Models.Product

<span class="path"><a asp-controller="Home" asp-action="Index">Domů</a><p>></p>
    @for (int i = 0; i < ViewBag.Categories.Count - 1; i++) {
        <a href="">@ViewBag.Categories[i].Name</a><p>></p>
    }<a class="current" href="">@Model.Category.Name</a></span>
<div class="product">
    <form action="order.php">
    <span class="grid">
        <span>
    <img src="~/img2/bota1.png" alt="bota">

    <span class="altproductimages">
        <a href=""><img src="~/img2/bota2.png" alt="bota"></a>
        <a href=""><img src="~/img2/bota3.png" alt="bota"></a>
        <a href=""><img src="~/img2/bota4.png" alt="bota"></a>
    </span>

            </span>
<span>
    <span class="nadpis"><h1>@Model.Name</h1><a asp-controller="Home" asp-action="Index"><img class="bunglogo" src="~/img2/logo.webp" alt="logo"></a></span>
    <span class="hideonmobile"><p class="popis">@Model.Description</p></span>

    <!-- separator??  -->

    <hr>

    <span class="properthelper">
    <span>
    <h3>Barva</h3>
    <span class="colors">
        <input name="color" type="radio" id="color1" checked="checked">
        <label for="color1" class="col1"></label>
        <input name="color" type="radio" id="color2">
        <label for="color2" class="col2"></label>
        <input name="color" type="radio" id="color3">
        <label for="color3" class="col3"></label>
        <input name="color" type="radio" id="color4">
        <label for="color4" class="col4"></label>
        <input name="color" type="radio" id="color5">
        <label for="color5" class="col5"></label>

    </span>
    </span>
    <span>
    <h3>Velikost</h3>
    <span class="sizes">
        <input name="numero" id="num1" type="radio" checked="checked">
        <label for="num1" class="n1">21</label>
        <input name="numero" id="num2" type="radio" disabled="disabled">
        <label for="num2" class="n2">22</label>
        <input name="numero" id="num3" type="radio">
        <label for="num3" class="n3">23</label>
        <input name="numero" id="num4" type="radio">
        <label for="num4" class="n4">24</label>
        <input name="numero" id="num5" type="radio">
        <label for="num5" class="n5">25</label>
        <input name="numero" id="num6" type="radio">
        <label for="num6" class="n6">26</label>
        <input name="numero" id="num7" type="radio">
        <label for="num7" class="n7">27</label>
    </span>
    </span>
    </span>

    <hr>
@if (Model.ProductVariants.Any()) {
        <h2>Skladem</h2>
        <span class="items">
            <p class="cena2">@(Math.Round(Model.BasePrice + (Model.BasePrice * (Model.DPH??0m)))) Kč</p>
            <span><p class="cena">@(Math.Round((Model.BasePrice + (Model.BasePrice * (Model.DPH??0m))) * (1 - (Model.DiscountPercent??0m)))) Kč</p><a class="dokosiku" href="Order"><img src="~/img/kosik_white.png"><p class="short">Do košíku</p><p class="long">Přidat do košíku</p></a></span>
        </span>
    }
else {
    <h2 style="color: #ff0000">NENÍ SKLADEM</h2>
}
</span>
        </span>
    </form>

    <section class="productinfo">
        <span class="textinfo">
        <h2>Informace o produktu</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <h3>Sed quia conseneconevim</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </span>

        <table>
            <thead>
            <tr>
                <th colspan="2">Parametry produktu</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Barva</th>
                <td>Tmavě modrá</td>
            </tr>
            <tr>
                <th>Druh</th>
                <td>Do deště, turistické</td>
            </tr>
            <tr>
                <th>Materiál</th>
                <td>Guma</td>
            </tr>
            <tr>
                <th>Určení</th>
                <td>Chlapecké</td>
            </tr>
            <tr>
                <th>Kód</th>
                <td>BG004-001</td>
            </tr>
            </tbody>
        </table>
    </section>

</div>

<div class="feethideonmobile"><img src="~/img/Group 295.png" alt="feet"> </div>


    <section class="nabidkanahled">
        <section class="h1">
            <h1 id="part1">Mohlo by se </h1><h1 id="part2">Vám líbit</h1>
        </section>

        <section class="items">
            @foreach(var item in ViewBag.Recommended) {
                <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">
                    <img src="@(Url.Content(item.ImagesPath) + "/0.png")" alt="boty">
                    <p>@item.Name</p>
                    <span class="bottom">
                        <span class="bottomtext">
                            <p class="cena">@(Math.Round((item.BasePrice + (item.BasePrice * (item.DPH??0m))) * (1 - (item.DiscountPercent??0m)))) Kč</p>
                            <p class="cena2">@(Math.Round(item.BasePrice + (item.BasePrice * (item.DPH??0m)))) Kč</p></span>
                        <img class="kosik" src="~/img/Group 6.png" alt="kosik">
                    </span>
                </a>
            }
        </section>
    </section>

<div class="feet"> <img src="~/img/Group 295.png" alt="feet"> </div>

<section class="circlenabidka">
    <a href="">
        <div class="circleshi">
            <img src="~/img/Group 195.png" alt="domecek">
        </div>
        <p>VŠE MÁME SKLADEM</p>
    </a>
    <a href="">
        <div class="circleshi">
            <img src="~/img/Group 196.png" alt="balicek">
        </div>
        <p>DOPRAVA ZDARMA</p>
    </a>
    <a href="">
        <div class="circleshi">
            <img src="~/img/Group 293.png" alt="nozicka">
        </div>
        <p>JAK MĚŘIT VELIKOST</p>
    </a>
</section>

<footer class="mailfooter">
    <h1>Nezmeškejte nové a výhodné akce</h1>
    <h2>Zadejte svůj e-mailem a obratem vám zašleme PDF s inspirací zdarma.</h2>
    <form action="newsletter.php">
        <span class="emailline">
            <label>
                <img class="emailpic" src="~/img/mail-tinted.png" alt="mail">
                <input name="emailinput" type="email" required placeholder="Zadej svůj email...">
            </label>
            <button class="subscribebtn" type="submit"> přihlásit</button>
        </span>
    </form>
</footer>